@import "tailwindcss";
@theme{
    --font-secondary:"Cinzel", "serif";
}
@layer utilities {
    .scrollbar-hidden {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .scrollbar-hidden::-webkit-scrollbar {
        display: none; /* Chrome, Safari, and Opera */
    }
}
